:root {
  --light: #ffffff;
  --dark: #424242;
  --black: #121212;
  --primary: rgba(254, 207, 51, 0.3);
  --dark-beige: #b6985e;
  --marine-blue: #00325b;
  --pine: #235937;
  --very-light-grey: #e5e5e5;
  --alert: rgb(234, 67, 53);

  --font: Raleway, sans-serif;

  --gold-grad: linear-gradient(
      to bottom,
      rgba(182, 152, 94, 0.3),
      rgba(182, 152, 94, 0.3)
    ),
    linear-gradient(to top, rgba(182, 152, 94, 0.9), rgba(182, 152, 94, 0));

  --blue-grad: linear-gradient(
      to bottom,
      rgba(0, 50, 91, 0.1),
      rgba(0, 50, 91, 0.1)
    ),
    linear-gradient(to top, rgba(0, 50, 91, 0.9), rgba(0, 50, 91, 0));

  --green-grad: linear-gradient(
      to bottom,
      rgba(35, 89, 55, 0.2),
      rgba(35, 89, 55, 0.2)
    ),
    linear-gradient(to top, rgba(35, 89, 55, 0.9), rgba(35, 89, 55, 0));
}

html {
  background-color: var(--black);
}

body {
  font-size: 16px;
  background-color: var(--black);
}

.full-jumbotron {
  background-color: var(--black);
  height: 100vh;
  border-style: none !important;
}
.card {
  background-color: var(--black);
}
.card .form-control {
  background-color: var(--black);
  color: var(--light);
}

.card-text {
  color: var(--light);
}

.hoverable {
  cursor: pointer;
}
.hoverable:hover, a:hover {
  color: var(--dark-beige);
}

label {
  color: var(--marine-blue);
}
